streamlit>=1.43.2
requests
pillow>=10.0.1
pandas
matplotlib
fastapi>=0.109.1
uvicorn>=0.18.0
setuptools==74.1.1
cloudinary
bandit>=1.7.7
pip-audit
python-dotenv
tornado>=6.5
#snyk
dotenv
pytest
httpx
firebase-admin==6.4.0
jinja2
zxcvbn
streamlit-autorefresh